html{
	overflow-x: hidden;
}

.btn{
	margin-right: 3px;
}

#wrapper form{
	padding-right: 4px;
}

.sidebar-brand{
	color: #bdc3c7;
}

.navbar-header #menu-toggle{
	position: relative;
	top: 18px;
	left: 20px;
	font-size: 14px;
}

#wrapper{
	margin-top: -20px;
}

#category{
  margin-left: 4px;
}

.nav-search{
  margin-top: 8px;
}

 /*  Success Message Styles */
*{
  
  font-family:Helvetica;
  margin:0;
  padding:0;  
}

body{
  background:#f0f0f0;
}

.notify{  
  position:absolute;
  top:0px;
  width:100%;
  height:0;  
  box-sizing:border-box;
  color:white;  
  text-align:center;
  background:rgba(0,0,0,.6);
  overflow:hidden;
  box-sizing:border-box;
  transition:height .2s;
}

#notifyType:before{
  display:block;
  margin-top:15px; 
  
}

.active{  
  height:50px;
}

.success:before{
  Content:"Classified Saved Successfully!";
}